*{
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}
body{
  margin: 0;
  padding: 0;
background-color: gainsboro;
  min-width: 950px;
}
.navbar{
  width: 100%;
  height: 50px;
  position: fixed;
  min-width: 950px;
  z-index: 1;
}
.navbar li {
  float: left;
  list-style-type: none;
  margin-left: 10%;
}
.navbar li a{
  text-decoration: none;
  color: #0086b3;
}
.banner{
  width: 100%;
  height: 400px;
  background: url("/imgs/banner.jpg") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.container{
  width: 80%;
  min-width: 1000px;
  height: 1080px;
  margin: 0 auto;
  background-color: white;
}
.head-img{
  height: 120px;
  width: 120px;
  background: url("/imgs/head.jpg") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  top: -50px;
  left: 15%;
}
.head-title{
  width: 400px;
  height: 70px;

  position: relative;
  top: -120px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
}
.main-container{
  width: 100%;
  height: 300px;
}
.footer{
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #111111;
}
.thumbnail img{
  width: 40%;
}

