<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Geo Blog</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/solarized_dark.min.css">
  <link rel="stylesheet" href="/css/csshack.css">
  <link rel="stylesheet" href="/css/markhigh.css">
  <link rel="stylesheet" href="/css/main1.css">
  <link rel="stylesheet" href="/css/forkit.css">
  <!--<link rel="stylesheet" href="/css/flipclock.css">-->


  <link rel="icon" href="/imgs/geo.png" type="image/png"/>

</head>
