<nav class="navbar navbar-inverse">

  <ul>
    <img class="nav-logo" src="/imgs/Alienware.png">
    <li class="shake shake-slow"><a href="/index.html">home</a></li>
    <li class="shake shake-little" onclick="_gaq.push(['_trackEvent', '文章', '点击'])"><a href="/blogindex/index.html">Tech</a></li>
    <li class="shake shake-horizontal"><a href="/">Picture</a></li>
    <li class="shake shake.vertical"><a>Music</a></li>
    <li class="shake shake-rotate"><a>Plan</a></li>
    <li class="shake shake-opacity"><a>AboutMe</a></li>
  </ul>
  <div class="nav-footer"></div>
  <!--</div>-->
</nav>
