<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {{content}}

    {% include footer.html %}
    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/headroom.js"></script>
    <script  type="text/javascript"  src="https://rawgithub.com/WickyNilliams/headroom.js/master/src/jQuery.headroom.js"></script>
    <script src="/js/geo.js"></script>
    <script type="text/javascript">
      var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254929918'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254929918%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"+"style='position:relative;bottom:26px;'"));
    </script>

  </body>

</html>
